@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

body {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at top, #b5b5b5 0%, #565656 60%);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.test {
     $drops: 240; 
     border: 1px solid transparent;
     //border-right: 10px solid red;
     border-bottom-color: rgba(183, 224,252, 0.6);
     border-left-width: 30px;
     position: absolute;
     top: -30px;
     //animation-name: rain;
     //animation-duration: 1s;
     //animation-timing-function: linear;
     //animation-iteration-count: infinite;
 
  
  @for $i from 1 through random_range(200, $drops) {
    $random-x: random(1000) * 0.1vw;
    $random-scale: random(10) * 0.1;
    $fall-duration: random_range(2, 6) * 1s;
    $fall-delay: random(20) * -1s;
    $random-time: random_range(40, 90) / 100;
     &:nth-child(#{$i}) {
     opacity: random(90) * 0.01;
     left: $random-x;
     border-left-width: random_range(20, 60)*1px;
     animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-time)} {
       transform: rotate(105deg) translateX(0);
      }

      to {
        transform: rotate(105deg)              translateX(calc(100vh + 30px));
       
      }
       
      }
    }
  }


@keyframes rain {
 from {
  transform: rotate(105deg) translateX(0);
 }

 to {
  transform: rotate(105deg)              translateX(calc(100vh + 30px));
 }
}


 @keyframes typing {
   from {
     width: 0
   }

   to {
     width: 100%
   }
}

@keyframes blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: lightgray
  }
}

.wrap {
  display: inline-block;
}

.typewriter {
  color: #fff;
  font-size: 28px;
  white-space: nowrap;
  border-right: 0.1em solid lightgreen;
  display: inline-block;
  overflow: hidden;
  letter-spacing: 0.2em;
  animation:
    typing 2s steps(20, end),
    blink 600ms infinite;
}